// compress: false, sourceMap: true

@import '_vars';
@import '_mixins';
@import '_fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* &::-webkit-scrollbar {
    width: 0;
} */

body, html {
    font-size: 1vw;
}

@import '_header';
@import '_about';
@import '_friends';
@import '_modals';
@import '_animations';
@import '_parallax';
@import '_help';
@import '_donation';
@import '_forms';
@import '_footer';

